
<div class="row">
  <div class="col-md-10 offset-2" >
    <h1>About</h1>
  </div>
  <div class="col-md-8 offset-2">
    <div class="card-body">
        <p>このサイトは、飼っている猫の日常や道端や猫カフェなどで出会った猫たちの様子や感想を投稿するサイトです。</p>
        <h4>主な利用シーン</h4>
        <ul>
        <li>猫の可愛い姿を写真に収めたとき</li>
        <li>猫に会うことが出来ないとき</li>
        <li>日頃他の人はどのように猫と一緒にいるのか気になったとき</li>
        </ul>
    </div>
  </div>
</div>